@import '../abstracts/custom-media.css';

/**
 * Based on: https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/holy-grail.css
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */

.layout {
  display: flex;
  min-height: 100vh;
  height: 100%; /* 1, 3 */
  flex-direction: column;
}

.layout-top,
.layout-bottom {
  padding: 0 16px;
  flex: none; /* 2 */
}

.layout-body {
  display: flex;
  flex: 1 0 auto; /* 2 */
  flex-direction: column;
  padding: 0;
}

.layout-main {
  padding: 0 16px;
  flex: 1 0 auto; /* 2 */
}

.layout-sidebar-left {
  /* put the nav on the left */
  order: -1;
}

.layout-sidebar-left,
.layout-sidebar-right {
  padding: 0 16px;
}

@media (--media-tablet) {
  .layout-body {
    /* flex-direction: row; */
    flex-flow: row wrap;
  }

  .layout-main {
    flex: 1;
    margin: 0;
  }

  .layout-sidebar-left {
    /* 14rm is the width of the left column */
    flex: 0 0 14rem;
  }

  .layout-sidebar-right {
    /* 2rem is the width of the right column */
    flex: 0 0 2rem;
  }
}

@media (--media-desktop) {
  .layout-sidebar-right {
    /* 10rem is the width of the right column */
    flex: 0 0 10rem;
  }
}



