// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.mastfoot {
  flex: none;
  background: $mastfoot-color;
  border-radius: $mastfoot-border-radius $mastfoot-border-radius 0 0;
  color: $mastfoot-font-color;
  margin: 0 $layout-space-sm;

  &__row {
    display: flex;
    flex: 1 100%;
    align-items: center;
    height: $mastfoot-row-height-sm;
    padding: 0 $layout-space-sm;
    overflow: hidden;
  }

  &__row--1 {
    height: $mastfoot-row1-height-sm;
  }

  @include respond-to('medium') {
    margin: 0 $layout-space-lg;

    &__row {
      height: $mastfoot-row-height-lg;
      padding: 0 $layout-space-lg;
    }

    &__row--1 {
      height: $mastfoot-row1-height-lg;
    }
  }
}
