// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.masthead {
  height: $masthead-height-sm;
  border-radius: $masthead-border-radius-sm;
  margin: $masthead-margin-sm;
  padding: 0;
  flex: none;
  display: flex;
  align-items: stretch;
  background-clip: padding-box;  // Prevent background color leak outs
  overflow: hidden;              // Prevent child background color leak outs

  &__row {
    display: flex;
    flex: 1 100%;
    overflow: hidden;
  }

  &__logo {
    width: $masthead-logo-height-sm;
    height: $masthead-logo-height-sm;
    background: url(HTML5_logo_and_wordmark.svg) no-repeat center;
    //background: url(/assets/webpack-logo.png) no-repeat center;
    //background: url(/assets/logo-b6e1ef6e.svg) no-repeat center;
    //background: url(/assets/js.jpg) no-repeat center;
    background-size: contain;
  }

  &__left-section {
    background-color: $masthead-left-section-background-color;
    padding: $masthead-left-section-padding-sm;
    width: $masthead-left-section-width-sm - $masthead-diagonal-width-sm;
    display: flex;
    align-items: center;
  }

  &__diagonal {
    border-right: $masthead-diagonal-width-sm solid $masthead-right-section-background-color;
    border-bottom: $masthead-height-sm solid $masthead-left-section-background-color;
  }

  &__right-section {
    background-color: $masthead-right-section-background-color;
    padding: $masthead-right-section-padding-sm;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  @include respond-to('medium') {
    height: $masthead-height-lg;
    border-radius: $masthead-border-radius-lg;
    margin: $masthead-margin-lg;

    &__logo {
      width: $masthead-logo-height-lg;
      height: $masthead-logo-height-lg;
    }

    &__left-section {
      padding: $masthead-left-section-padding-sm;
      width: $masthead-left-section-width-lg - $masthead-diagonal-width-lg;
    }

    &__diagonal {
      border-right-width: $masthead-diagonal-width-lg;
      border-bottom-width: $masthead-height-lg;
    }

    &__right-section {
      padding: $masthead-right-section-padding-lg;
    }
  }
}
