@charset "UTF-8";

// -----------------------------------------------------------------------------
// This file contains all styles related to the layout of the site/application.
// -----------------------------------------------------------------------------

/**
 * https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/holy-grail.css
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */

.layout {
  //background-color: yellow; // trace
  display: flex;
  min-height: 100vh;
  height: 100%; /* 1, 3 */
  flex-direction: column;

  &__body {
    //background-color: cyan; // trace
    display: flex;
    flex: 1 0 auto; /* 2 */
    flex-direction: column;
  }

  &__wrapper {
    //background-color: orange; // trace
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__content {
    background: $layout-content-color;
    border-radius: $layout-content-border-radius;
    margin: $layout-space-sm;
    padding: $layout-space-sm;
    flex: 1;
  }

  &__sidebar-left,
  &__sidebar-right {
    display: flex;
    flex-direction: column;
    background: $layout-sidebar-color;
    margin: $layout-space-sm $layout-space-sm 0;
    padding: $layout-space-sm;
    border-radius: $layout-sidebar-border-radius;
  }

  &__sidebar-left {
    order: -1;
  }

  @include respond-to('medium') {
    &__body {
      flex-direction: row;
    }

    &__content {
      margin: $layout-space-lg;
      padding: $layout-space-lg;
    }

    &__sidebar-left,
    &__sidebar-right {
      margin: $layout-space-lg $layout-space-lg 0;
      flex: 0 0 $layout-sidebar-left-width;
      border-radius: $mastfoot-border-radius $mastfoot-border-radius 0 0;
    }
  }
}
