// See: http://2ality.com/2017/02/babel-preset-env.html

{
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-runtime",
    ["transform-react-jsx", { "pragma": "h" }]
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "uglify": true
        },
        "useBuiltIns": true,
        "debug": false
      }
    ]
  ],
  "env": {
    "test": {
    },
    "development": {
    },
    "production": {
    }
  }
}
