{
  "presets": [
    "latest",
    "stage-0"
  ],
  "env": {
    "test": {
    },
    "development": {
    },
    "production": {
      "presets": [
        [
          "latest",
          {
            "es2015": {
              "modules": false  // https://babeljs.io/docs/plugins/preset-es2015/
            }
          }
        ],
        "stage-0"
      ]
    }
  }
}
