{
  "presets": [
    [
      "latest", {
        "es2015": {
          "modules": false // https://babeljs.io/docs/plugins/preset-es2015/
        }
      }
    ],
    "stage-0"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "latest", {
            "es2015": {}
          }
        ],
        "stage-0"
      ],
      "plugins": [
        ["__coverage__", {"ignore": "*.+(test|spec|stub).*"}],

        // Works on OSX, but not on Ubuntu
        //["istanbul", {
        //  "exclude": [
        //    "**/*.spec.js"
        //  ]
        //}]
      ]
    }
  }
}
