@import '../base/custom-media.css';
@import '../base/typography.variables.css';
@import '../base/elevation.variables.css';

.navlink {
  composes: Button-primary from '../../components/button.css';
  composes: Button--compact from '../../components/button.css';
  width: 100%;
  text-align: left;
}

.ingress {
  font-size: var(--ms1);
  margin-top: calc(var(--offset-ms1) + var(--base-line-height));
  margin-bottom: calc(var(--offset-ms1) * -1);
  font-style: italic;
}

.logobar {
  display: flex;
  flex-wrap: nowrap;
  height: calc(var(--base-line-height) * 2);

  & > img {
    height: 100%;
    margin-right: var(--space-s);
  }
}

.democontainer {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--space-xl) * -1);
}

.elevationdemo {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.23);
  height: calc(var(--base-line-height) * 3 + 1px);
  margin-top: -1px;
  margin-bottom: calc(var(--base-line-height) * 3);
  text-align: center;
  margin-right: var(--space-xl);
  width: calc(100% - var(--space-xl));

  @media (--media-tablet) {
    width: calc(50% - var(--space-xl));
  }

  @media (--media-desktop) {
    width: calc(33.3333% - var(--space-xl));
  }
}

.rippledemo {
  border: 1px solid rgba(0, 0, 0, 0.23);
  margin-top: -1px;
  padding-bottom: var(--base-line-height);
  padding-left: var(--space-m);
  padding-right: var(--space-m);
  margin-bottom: calc(var(--base-line-height) * 2 - 1px);
  width: calc(100% - var(--space-xl));
}

.colordemo {
  border: 1px solid rgba(0, 0, 0, 0.23);
  height: calc(var(--base-line-height) * 5 + 1px);
  margin-top: -1px;
  margin-bottom: var(--base-line-height);
  text-align: center;
  padding-top: calc(var(--base-line-height) * 2);
  margin-right: var(--space-xl);
  width: calc(100% - var(--space-xl));

  &:hover {
    box-shadow: var(--z4);
  }

  @media (--media-tablet) {
    width: calc(50% - var(--space-xl));
  }

  @media (--media-desktop) {
    width: calc(33.3333% - var(--space-xl));
  }
}

.textfielddemo {
  margin-right: var(--space-xl);
  height: calc(var(--base-line-height) * 5);
  width: calc(100% - var(--space-xl));

  @media (--media-tablet) {
    width: calc(50% - var(--space-xl));
  }

  @media (--media-desktop) {
    width: calc(50% - var(--space-xl));
  }

}
