@import '../base/typography.css';

.ingress {
  font-size: calc(var(--ms1) * 0.86);
  margin-top: calc(var(--offset-ms1) + var(--base-line-height));
  margin-bottom: calc(var(--offset-ms1) * -1);
  font-style: italic;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-medium);
}
