@import '../base/color.variables.css';
@import '../base/typography.variables.css';

.Mastfoot {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0 var(--space-m) var(--base-line-height);
  background-color: gray(70);
  color: var(--text-color-light-primary);
}
