@import '../base/colors.variables.css';
@import '../base/typography.variables.css';

.Masthead {
  margin: 0;
  padding: 0 var(--space-m);
  display: flex;
  align-items: stretch;
  background: linear-gradient(to right, var(--color-primary-dark), var(--color-primary), var(--color-primary-light));
  color: var(--color-primary-tone);
  height: calc(var(--base-line-height) * 5);
}

.Masthead-logo {
  width: calc(var(--base-line-height) * 2.5);
  background: url('/assets/css4.png') no-repeat center;
  background-size: contain;
  margin-right: var(--space-m);
}

.Masthead-logo2 {
  flex: 1;
  background: url('/assets/red_throated_loon.png') no-repeat right center;
  background-size: contain;
  margin-left: var(--space-xs);
}
