@import '../styles/base/helpers.css';
@import '../styles/base/typography.css';

@define-mixin button {
  @mixin overflow-ellipsis;
  font-weight: var(--font-weight-semibold);
  position: relative;
  min-width: calc(var(--base-line-height) * 2.6667); /* ~ 64px */
  border: 0 solid var(--text-color-primary);
  border-radius: 2px;
  text-align: center;
  user-select: none;
  -webkit-appearance: none;
  text-transform: uppercase;
  margin-top: calc(var(--offset) + var(--base-line-height) - var(--space-s));
  margin-bottom: calc((var(--offset) + var(--space-s)) * -1);
  margin-right: var(--space-s);
  padding: var(--space-s) var(--space-m);
  color: var(--text-color-primary);
  background-color: transparent;

  &:last-child {
    margin-right: 0;
  }

  &:disabled {
    color: var(--text-color-disabled);
    border-color: var(--text-color-disabled);
    background-color: transparent;
  }

  &:focus,
  &:active {
    background-color: color(gray a(35%));
  }

  &:hover:not(:focus) {
    text-decoration: underline;
    background-color: color(gray a(20%));
  }
}

.Button {
  @mixin button;
}

.Button-primary {
  composes: Button;
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.Button-secondary {
  composes: Button;
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.Button-compact {
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}

.Button-dense {
  font-size: var(--ms-1);
  margin-top: calc(var(--offset) + var(--base-line-height));
  margin-bottom: calc((var(--offset)) * -1);
  padding-top: 0;
  padding-bottom: 0;
}

.Button-stroked {
  border-width: 2px;
  padding: calc(var(--space-s) - 2px) calc(var(--space-m) - 2px);
}

.Button-stroked.Button-compact {
  padding-left: calc(var(--space-s) - 2px);
  padding-right: calc(var(--space-s) - 2px);
}

.Button-stroked.Button-dense {
  margin-top: calc(var(--offset) + var(--base-line-height) - 2px);
  margin-bottom: calc((var(--offset) + 2px) * -1);
  padding-top: 0;
  padding-bottom: 0;
}
