/**
 * Mixins for button states
 */

@define-mixin button-normal $color: red, $bg-color: transparent {
  color: $color;
  background-color: $bg-color;
  border-color: $color;
}

@define-mixin button-disabled $color: red, $bg-color: transparent {
  &:disabled {
    color: $color !important;
    background-color: $bg-color !important;
    border-color: $color;
  }
}

@define-mixin button-hover $color: red, $bg-color: transparent {
  &:hover:not(:focus) {
    color: $color;
    background-color: $bg-color;
    border-color: $color;
    text-decoration: underline;
  }
}

@define-mixin button-focus $color: red, $bg-color: transparent {
  &:focus {
    color: $color;
    background-color: $bg-color;
    border-color: $color;
  }
}

@define-mixin button-active $color: red, $bg-color: transparent {
  &:active {
    color: $color;
    background-color: $bg-color;
    border-color: $color;
  }
}
