@import '../styles/base/helpers.mixins.css';
@import '../styles/base/color.variables.css';
@import '../styles/base/color.mixins.css';
@import '../styles/base/elevation.variables.css';
@import '../styles/base/typography.variables.css';
@import './button.mixins.css';


.Button {
  @mixin button;

  & :global(.material-icons) {
    vertical-align: bottom;
    font-size: 1.4em;
  }

  & :global(.material-icons):first-child:not(:only-child) {
    margin-right: var(--space-xs);
  }

  & :global(.material-icons):last-child:not(:only-child) {
    margin-left: var(--space-xs);
  }
}

.Button-primary {
  composes: Button;
  color: var(--color-primary-dark);
  border-color: var(--color-primary);

  &:focus,
  &:active,
  &:hover {
    border-color: var(--color-primary-dark);
  }
}

.Button-secondary {
  composes: Button;
  color: var(--color-secondary);
  border-color: var(--color-secondary);

  &:focus,
  &:active,
  &:hover {
    border-color: var(--color-secondary-dark);
  }
}

.Button-info {
  composes: Button;
  color: var(--color-info-dark);
  border-color: var(--color-info-dark);

  &:focus,
  &:active,
  &:hover {
    border-color: color(var(--color-info-dark) shade(20%));
  }
}

.Button-success {
  composes: Button;
  color: var(--color-success-dark);
  border-color: var(--color-success-dark);

  &:focus,
  &:active,
  &:hover {
    border-color: color(var(--color-success-dark) shade(20%));
  }
}

.Button-warning {
  composes: Button;
  color: var(--color-warning-dark);
  border-color: var(--color-warning-dark);

  &:focus,
  &:active,
  &:hover {
    border-color: color(var(--color-warning-dark) shade(20%));
  }
}

.Button-error {
  composes: Button;
  color: var(--color-error-dark);
  border-color: var(--color-error-dark);

  &:focus,
  &:active,
  &:hover {
    border-color: color(var(--color-error-dark) shade(20%));
  }
}

.Button--compact {
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}

.Button--dense {
  font-size: var(--ms-1);
  margin-top: calc(var(--offset-ms-1) + var(--base-line-height) - 2px);
  margin-bottom: calc((var(--offset-ms-1) + 2px) * -1);
  padding-top: 0;
  padding-bottom: 0;
}

.Button--stroked {
  border-width: 2px;
  padding: calc(var(--space-s) - 2px) calc(var(--space-m) - 2px);
}

.Button--stroked.Button--compact {
  padding-left: calc(var(--space-s) - 2px);
  padding-right: calc(var(--space-s) - 2px);
}

.Button--stroked.Button--dense {
  margin-top: calc(var(--offset-ms-1) + var(--base-line-height) - 2px);
  margin-bottom: calc((var(--offset-ms-1) + 2px) * -1);
  padding-top: 0;
  padding-bottom: 0;
}

.Button--filled {
  color: var(--text-color-primary);
  background-color: color(gray a(10%));

  &:disabled {
    color: var(--text-color-disabled) !important;
    background-color: color(gray a(10%)) !important;
    box-shadow: none;
  }
}

.Button-primary.Button--filled {
  @mixin primary;

  &:focus,
  &:active,
  &:hover {
    @mixin primary-dark;
  }
}

.Button-secondary.Button--filled {
  @mixin secondary;

  &:focus,
  &:active,
  &:hover {
    @mixin secondary-dark;
  }
}

.Button-info.Button--filled {
  @mixin info;

  &:focus,
  &:active,
  &:hover {
    @mixin info;
  }
}

.Button-success.Button--filled {
  @mixin success;

  &:focus,
  &:active,
  &:hover {
    @mixin success;
  }
}

.Button-warning.Button--filled {
  @mixin warning;

  &:focus,
  &:active,
  &:hover {
    @mixin warning;
  }
}

.Button-error.Button--filled {
  @mixin error;

  &:focus,
  &:active,
  &:hover {
    @mixin error;
  }
}

.Button--raised {
  box-shadow: var(--z2);
  transition: all 280ms ease-in-out, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow;

  &:disabled {
    box-shadow: none;
  }

  &:focus,
  &:hover {
    box-shadow: var(--z4);
  }

  &:active,
  &:active:focus {
    box-shadow: var(--z8);
  }
}

.Large-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: calc(var(--base-line-height) * 3);
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);

  & .Button {
    font-size: calc(var(--ms1) * 0.9);
    font-weight: var(--font-weight-bold);
  }
}

.Button--icon,
.Button--icon-m {
  border-radius: 50%;
  padding: var(--space-s);

  & :global(.material-icons) { /* stylelint-disable-line */
    font-size: 1.5em;
  }
}

.Button--icon-s {
  composes: Button--dense;
  border-radius: 50%;
  height: calc(var(--base-line-height) * 1.2);
  width: calc(var(--base-line-height) * 1.2);
  padding: 0;

  & :global(.material-icons) { /* stylelint-disable-line */
    font-size: 1.4em;
  }
}

.Button--icon-l {
  border-radius: 50%;
  font-size: var(--ms2);
  line-height: calc(var(--base-line-height) * 2);
  margin-top: var(--offset-ms2);
  margin-bottom: calc(var(--offset-ms2) * -1);
  height: calc(var(--base-line-height) * 2);
  width: calc(var(--base-line-height) * 2);
  padding: 0;

  & :global(.material-icons) { /* stylelint-disable-line */
    font-size: 1.1em;
  }
}

.Button--icon-xl {
  border-radius: 50%;
  font-size: var(--ms2);
  line-height: calc(var(--base-line-height) * 3);
  margin-top: var(--offset-ms2);
  margin-bottom: calc(var(--offset-ms2) * -1);
  height: calc(var(--base-line-height) * 3);
  width: calc(var(--base-line-height) * 3);
  padding: 0;

  & :global(.material-icons) { /* stylelint-disable-line */
    font-size: 1.5em;
  }
}
