@import '../styles/base/helpers.mixins.css';
@import '../styles/base/colors.variables.css';
@import '../styles/base/typography.variables.css';

@define-mixin button {
  @mixin overflow-ellipsis;

  /* The two following CSS propertiews removes default button styles */
  -webkit-appearance: none;
  -moz-appearance: none;

  font-weight: var(--font-weight-semibold);
  display: block;
  position: relative;
  min-width: 1px;
  border: 0 solid var(--text-color-primary);
  border-radius: 3px;
  text-align: center;
  user-select: none;
  text-transform: uppercase;
  color: var(--text-color-primary);
  background-color: transparent;
  margin-top: calc(var(--offset) + var(--base-line-height) - var(--space-s));
  margin-bottom: calc((var(--offset) + var(--space-s)) * -1);
  margin-right: var(--space-s);
  padding: var(--space-s) var(--space-m);
  transition: all 280ms ease-in-out;

  &:last-child {
    margin-right: 0;
  }

  &:disabled {
    color: var(--text-color-disabled);
    border-color: var(--text-color-disabled);
  }

  &:focus {
    background-color: color(lightgray a(40%));
  }

  &:active {
    background-color: color(lightgray a(60%));
  }

  &:hover:not(:focus) {
    text-decoration: underline;
    background-color: color(lightgray a(30%));
  }
}
