.Card {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}

.Card-figure {
  display: inline-block;
  margin: 0 1rem 0 0;

  & a {
    display: inline-block;
    line-height: 0;
  }

  & img {
    width: 4rem;
  }
}

.Card-body {
  flex: 1;
}
