// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
/// @see https://www.sitepoint.com/managing-responsive-breakpoints-sass/
$breakpoints: (
  'small': (min-width: 320px),
  'medium': (min-width: 768px),
  'large': (min-width: 1024px),
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;


/// Layout
$layout-space-sm: 8px !default;
$layout-space-lg: 16px !default;
$layout-border-radius: 3px !default;
$layout-sidebar-left-width: 260px !default;
$layout-sidebar-border-radius: $layout-border-radius !default;
$layout-sidebar-color: rgba(147, 128, 108, 0.1) !default;
$layout-content-border-radius: $layout-border-radius !default;
$layout-content-color: rgba(147, 128, 108, 0.1) !default;

$masthead-color: rgba(61, 110, 255, 1) !default; //rgba(66, 113, 255, 1);
$masthead-row-height-sm: 48px !default;
$masthead-row-height-lg: 64px !default;
$masthead-row1-height-sm: 112px !default;
$masthead-row1-height-lg: 136px !default;
$masthead-row-main-height-sm: $masthead-row1-height-sm !default;
$masthead-row-main-height-lg: $masthead-row1-height-lg !default;
$masthead-logo-height-sm: $masthead-row-main-height-sm - $layout-space-sm*2 !default;
$masthead-logo-height-lg: $masthead-row-main-height-lg - $layout-space-lg*2 !default;
$masthead-left-section-color: rgba(51, 102, 255, 1) !default;
$masthead-left-section-width-sm: 250px !default;
$masthead-left-section-width-lg: 290px !default;
$masthead-right-section-color: $masthead-color !default;
$masthead-diagonal-width-sm: 40px !default;
$masthead-diagonal-width-lg: 48px !default;

$mastfoot-border-radius: $layout-border-radius !default;
$mastfoot-color: rgba(#554f4f, 1) !default;
$mastfoot-font-color: rgba(#ffffff, 1) !default;
$mastfoot-row-height-sm: 48px !default;
$mastfoot-row-height-lg: 64px !default;
$mastfoot-row1-height-sm: 24px !default;
$mastfoot-row1-height-lg: 32px !default;
