@import './colors.variables.css';
@import './colors.mixins.css';

.primary {
  @mixin primary;
}

.primaryLight {
  @mixin primary-light;
}

.primaryDark {
  @mixin primary-dark;
}

.secondary {
  @mixin secondary;
}

.secondaryLight {
  @mixin secondary-light;
}

.secondaryDark {
  @mixin secondary-dark;
}

.info {
  @mixin info;
}

.infoDark {
  @mixin info-dark;
}

.infoDark2 {
  color: var(--color-info-dark);
}

.success {
  @mixin success;
}

.successDark {
  @mixin success-dark;
}

.successDark2 {
  color: var(--color-success-dark);
}

.warning {
  @mixin warning;
}

.warningDark {
  @mixin warning-dark;
}

.warningDark2 {
  color: var(--color-warning-dark);
}

.error {
  @mixin error;
}

.errorDark {
  @mixin error-dark;
}

.errorDark2 {
  color: var(--color-error-dark);
}

.textColorPrimary {
  @mixin text-color-primary;
}

.textColorSecondary {
  @mixin text-color-secondary;
}

.textColorHint {
  @mixin text-color-hint;
}

.textColorDisabled {
  @mixin text-color-disabled;
}

.textColorIcon {
  @mixin text-color-icon;
}
