@import './elevation.variables.css';

.z0 {
  box-shadow: var(--z0);
}

.z1 {
  box-shadow: var(--z1);
}

.z2 {
  box-shadow: var(--z2);
}

.z3 {
  box-shadow: var(--z3);
}

.z4 {
  box-shadow: var(--z4);
}

.z5 {
  box-shadow: var(--z5);
}

.z6 {
  box-shadow: var(--z6);
}

.z7 {
  box-shadow: var(--z7);
}

.z8 {
  box-shadow: var(--z8);
}

.z9 {
  box-shadow: var(--z9);
}

.z10 {
  box-shadow: var(--z10);
}

.z11 {
  box-shadow: var(--z11);
}

.z12 {
  box-shadow: var(--z12);
}

.z13 {
  box-shadow: var(--z13);
}

.z14 {
  box-shadow: var(--z14);
}

.z15 {
  box-shadow: var(--z15);
}

.z16 {
  box-shadow: var(--z16);
}

.z17 {
  box-shadow: var(--z17);
}

.z18 {
  box-shadow: var(--z18);
}

.z19 {
  box-shadow: var(--z19);
}

.z20 {
  box-shadow: var(--z20);
}

.z21 {
  box-shadow: var(--z21);
}

.z22 {
  box-shadow: var(--z22);
}

.z23 {
  box-shadow: var(--z23);
}

.z24 {
  box-shadow: var(--z24);
}
