/**
 * Code inspired by
 *   https://www.smashingmagazine.com/2016/05/fluid-typography/
 *   https://madebymike.com.au/writing/precise-control-responsive-typography/
 *   https://madebymike.com.au/writing/fluid-type-calc-examples/
 *   https://codepen.io/MadeByMike/pen/bEEGvv?editors%3D0100
 *   https://jonathan-harrell.com/unlocking-benefits-css-variables/
 *   https://github.com/jonathanharrell/hiq
 *   https://blog.typekit.com/2016/08/17/flexible-typography-with-css-locks/
 *   https://pilot.co/blog/implementing-baseline-rhythm-in-css/
 *   https://medium.com/written-in-code/aligning-type-to-baseline-the-right-way-using-sass-e258fce47a9b
 */

@import './custom-media.css';
@import './colors.variables.css';
@import './typography.variables.css';


/* -------------------------------- *
 * Override/Extend normalize.css    *
 * -------------------------------- */

* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

*,
*::before,
*::after {
  /*
   * Make all elements from the DOM inherit from the parent box-sizing
   * Since `*` has a specificity of 0, it does not override the `html` value
   * making all elements inheriting from the root box-sizing value
   * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
   */
  box-sizing: inherit;
}

/*
 * 1. Change the default font family in all browsers.
 * 2. Setting @viewport causes scrollbars to overlap content in IE11 and Edge, so
 *    we force a non-overlapping, non-auto-hiding scrollbar to counteract.
 * 3. Change the default tap highlight to be completely transparent in iOS.
 */

html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: var(--font-family-body); /* sans-serif; /* 1 */
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--letter-spacing);
  -ms-overflow-style: scrollbar; /* 2 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 3 */
}

/*
 * 1. Set an explicit initial text-align value so that we can later use the
 *    the `inherit` value on things like `<th>` elements.
 */
body {
  background-color: var(--page-background-color);
  color: var(--text-color-primary);
  text-align: left; /* 1 */
}

/*
 * IE10+ doesn't honor `<meta name='viewport'>` in some cases
 * See: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-heading);
}

b,
dt,
strong {
  font-weight: var(--font-weight-bold);
}

cite,
small,
code,
kbd,
samp {
  line-height: 1;
  vertical-align: baseline;
}

label,
legend,
button,
[type="button"],
[type="reset"],
[type="submit"] {
  font-weight: var(--font-weight-medium);
}

abbr[title] {
  border-bottom: dotted 1px currentColor;
  text-decoration: none;
}

address {
  font-style: normal;
}

blockquote {
  display:block;
  position: relative;
  margin-left: 0;

  &::before {
    position: absolute;
    left: -14px;
    top: 5px;
    content: "\201C";
    font-size: 2em;
  }

  &::after {
    content: "";
  }
}

hr {
  box-sizing: content-box;
  position: relative;
  border: 0;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: #808080;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

legend,
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  display: block;
}

/*
 * 1. Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
 *
 * In particular, unlike most other browsers, IE11+Edge on Windows 10 on touch devices and IE Mobile 10-11
 * DON'T remove the click delay when `<meta name="viewport" content="width=device-width">` is present.
 * However, they DO support removing the click delay via `touch-action: manipulation`.
 * See:
 *   https://getbootstrap.com/docs/4.0/content/reboot/#click-delay-optimization-for-touch
 *   https://caniuse.com/#feat=css-touch-action
 *   https://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay
*/
a,
area,
button,
[role="button"],
[type="button"],
[type="reset"],
[type="submit"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  touch-action: manipulation; /* 1 */
}

/*
 * 1. Textareas should really only resize vertically so they don't break their (horizontal) containers.
 */
textarea {
  resize: vertical; /* 1 */
}

/*
 * 1. Prevent button text from being selectable.
 */
button,
[role="button"],
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  user-select: none; /* 1 */

  &:focus {
    /*
     * Workaround a Firefox/IE bug where the transparent `button` background
     * results in a loss of the default `button` focus styles.
     */
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }
}

a {
  color: var(--text-color-anchor);
  cursor: pointer;
}

/*
 * Undo styles for placeholder links/named anchors (without href)
 * which have not been made explicitly keyboard-focusable (without tabindex).
 */
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

[disabled] {
  cursor: default;
  pointer-events: none;
  color: var(--text-color-disabled);
}

/*
 * Suppress the focus outline on elements that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */

[tabindex^='-']:focus {
  outline: none !important;
}

/* -------------------------------- *
 * Modular scale + Vertical Rhythm  *
 * -------------------------------- */

/* stylelint-disable-next-line no-duplicate-selectors */
:root {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
}

/* stylelint-disable-next-line no-duplicate-selectors */
* {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/*
* + * {
  margin-top: var(--base-line-height);
}
*/

p,
dl,
ol,
ul,
li,
pre,
form,
table,
blockquote {
  margin-top: calc(var(--offset) + var(--base-line-height));
  margin-bottom: calc(var(--offset) * -1);

  &:first-child {
    margin-top: var(--offset);
  }
}

/* stylelint-disable-next-line no-descending-specificity */
li {
  margin-top: var(--offset);
}

figure {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

figcaption {
  font-size: var(--ms-1);
  font-style: italic;
  margin-top: var(--offset-ms-1);
  margin-bottom: calc(var(--offset-ms-1) * -1);
  flex-basis: 100%;
}

h1 {
  font-size: var(--ms4);

  /* Line height must be greater or equal to font size and
   * must be a multiple of base line height
   */
  line-height: calc(var(--base-line-height) * 2);
  margin-top: calc(var(--offset-ms4) + var(--base-line-height));
  margin-bottom: calc(var(--offset-ms4) * -1);

  &:first-child {
    margin-top: var(--offset-ms4);
  }
}

h2 {
  font-size: var(--ms3);
  line-height: calc(var(--base-line-height) * 2);
  margin-top: calc(var(--offset-ms3) + var(--base-line-height));
  margin-bottom: calc(var(--offset-ms3) * -1);

  &:first-child {
    margin-top: var(--offset-ms3);
  }
}

h3 {
  font-size: var(--ms2);
  line-height: calc(var(--base-line-height) * 2);
  margin-top: calc(var(--offset-ms2) + var(--base-line-height));
  margin-bottom: calc(var(--offset-ms2) * -1);

  &:first-child {
    margin-top: var(--offset-ms2);
  }
}

h4 {
  font-size: var(--ms1);
  margin-top: calc(var(--offset-ms1) + var(--base-line-height));
  margin-bottom: calc(var(--offset-ms1) * -1);

  &:first-child {
    margin-top: var(--offset-ms1);
  }
}

h5 {
  font-size: var(--ms0);
  margin-top: calc(var(--offset-ms0) + var(--base-line-height));
  margin-bottom: calc(var(--offset-ms0) * -1);

  &:first-child {
    margin-top: var(--offset-ms0);
  }
}

h6 {
  font-size: var(--ms-1);
  margin-top: calc(var(--offset-ms-1) + var(--base-line-height));
  margin-bottom: calc(var(--offset-ms-1) * -1);

  &:first-child {
    margin-top: var(--offset-ms-1);
  }
}

legend {
  display: table;
  padding: 0 var(--space-xs);
  margin-left: calc(var(--space-xs) * -1);
}

fieldset {
  border: 1px solid var(--text-color-icon);
  border-radius: 2px;
  padding: 0.01em 0 calc(var(--base-line-height) - 1px) var(--space-s);
  margin: 0;
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

/* stylelint-disable-next-line no-descending-specificity */
button,
label,
input:not([type="radio"]):not([type="checkbox"]),
select,
textarea {
  border: 1px solid var(--text-color-icon);
  border-radius: 2px;
  line-height: var(--base-line-height);
  font-family: inherit;
  background: transparent;
  display: block;
  margin-top: calc(var(--offset) - 1px);
  margin-bottom: calc((var(--offset) + 1px) * -1);
}

label {
  border-color: transparent;
}

/*
label,
input:not([type=radio]):not([type=checkbox]),
button,
*/
select:not([multiple]) {
  height: calc(var(--base-line-height) + 2px);
}

option,
optgroup {
  height: var(--base-line-height);
}

select[multiple],
textarea {
  height: calc(var(--base-line-height) * 4 + 2px);
}

/* Heights for input elements with border-top: 1px and border-bottom: 1px */
select[multiple][size="1"],
textarea[rows="1"] {
  height: calc(var(--base-line-height) + 2px);
}

select[multiple][size="2"],
textarea[rows="2"] {
  height: calc(var(--base-line-height) * 2 + 2px);
}

select[multiple][size="3"],
textarea[rows="3"] {
  height: calc(var(--base-line-height) * 3 + 2px);
}

select[multiple][size="4"],
textarea[rows="4"] {
  height: calc(var(--base-line-height) * 4 + 2px);
}

select[multiple][size="5"],
textarea[rows="5"] {
  height: calc(var(--base-line-height) * 5 + 2px);
}

select[multiple][size="6"],
textarea[rows="6"] {
  height: calc(var(--base-line-height) * 6 + 2px);
}

select[multiple][size="7"],
textarea[rows="7"] {
  height: calc(var(--base-line-height) * 7 + 2px);
}

select[multiple][size="8"],
textarea[rows="8"] {
  height: calc(var(--base-line-height) * 8 + 2px);
}

select[multiple][size="9"],
textarea[rows="9"] {
  height: calc(var(--base-line-height) * 9 + 2px);
}

select[multiple][size="10"],
textarea[rows="10"] {
  height: calc(var(--base-line-height) * 10 + 2px);
}

/* Heights for borderless elements */
[height="1"] {
  height: var(--base-line-height);
}

[height="2"] {
  height: calc(var(--base-line-height) * 2);
}

[height="3"] {
  height: calc(var(--base-line-height) * 3);
}

[height="4"] {
  height: calc(var(--base-line-height) * 4);
}

[height="5"] {
  height: calc(var(--base-line-height) * 5);
}

[height="6"] {
  height: calc(var(--base-line-height) * 6);
}

[height="7"] {
  height: calc(var(--base-line-height) * 7);
}

[height="8"] {
  height: calc(var(--base-line-height) * 8);
}

[height="9"] {
  height: calc(var(--base-line-height) * 9);
}

[height="10"] {
  height: calc(var(--base-line-height) * 10);
}

[height="11"] {
  height: calc(var(--base-line-height) * 11);
}

[height="12"] {
  height: calc(var(--base-line-height) * 12);
}

[height="13"] {
  height: calc(var(--base-line-height) * 13);
}

[height="14"] {
  height: calc(var(--base-line-height) * 14);
}

[height="16"] {
  height: calc(var(--base-line-height) * 16);
}

[height="18"] {
  height: calc(var(--base-line-height) * 18);
}

[height="20"] {
  height: calc(var(--base-line-height) * 20);
}

:global(.grid-lines) {
  background-image: linear-gradient(rgba(200, 50, 50, 0.25) 1px, transparent 1px);
  background-size: 1px var(--base-line-height);
}

/* Focusable elements
a[href]:not([tabindex^='-']),
area[href]:not([tabindex^='-']),
input:not([disabled]):not([tabindex^='-']),
select:not([disabled]):not([tabindex^='-']),
textarea:not([disabled]):not([tabindex^='-']),
button:not([disabled]):not([tabindex^='-']),
iframe:not([tabindex^='-']),
[tabindex]:not([tabindex^='-']),
[contentEditable=true]:not([tabindex^='-']) {
  outline: none;
  transition: all 0.20s ease-in-out;

  &:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }
}
*/
